* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #A0A0A0;
  --secondary-color: #ED9FB0;
  --swiper-theme-color: #ED9FB0;

}

body {
  background-color: #F8F8F8;
  font-family: 'Poppins', sans-serif;
}

.splash-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ED9FB0;
}

.splash-screen img {
  width: 18rem;
}


