* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:root {
  --primary-color: #a0a0a0;
  --secondary-color: #ed9fb0;
  --swiper-theme-color: #ed9fb0;
}

body {
  background-color: #f8f8f8;
  font-family: "Poppins", sans-serif;
}

.splash-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ed9fb0;
}

.splash-screen img {
  width: 18rem;
}




